body {
  background-color: rgb(210, 252, 231);
  margin: 0;
  font-family: "Consolas";
  text-align: center;
  line-height: 18px;
}

code {
  font-family: "Consolas";
}

.moviefactscontainer {
  position: fixed;
  left: 330px;
  top: 90px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 17px;
  align-items: center;
}

.savedfactscontainer {
  position: fixed;
  left: 330px;
  top: 90px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 17px;
  align-items: center;
  border: 2px solid red;
  border-radius: 7px;
}
#movieinput {
  text-align: center;
  width: 300px;
  position: relative;
  top: 10px;
}
#moviesearchbutton {
  width: 100px;
  position: relative;
  top: 40px;
  right: 200px;
}

.moviequestion {
  display: flex;
  position: relative;
  left: 300px;
  gap: 10px;
}

.movieplot {
  width: 200px;
  line-height: 18px;
}

.movietitle {
  width: 200px;
  line-height: 18px;
}
#links {
  position: fixed;
  left: 10px;
  top: 30px;
}
.path {
  color: lightseagreen;
  text-align: left;
  margin: 5px;
}

.moviequizbutton {
  height: 50px;
  width: 100px;
  position: relative;
  top: 185px;
  left: 100px;
  background-color: rgb(210, 252, 231);
  border-radius: 5px;
  font-weight: bold;
  font-size: 30px;
}

#prompt {
  position: fixed;
  left: 310px;
  top: 100px;
  max-width: 250px;
  line-height: 20px;
}

.moviecard {
  border: 2px solid black;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 2px 2px yellow;
  display: flex;
  width: 300px;
  min-height: 260px;
  position: relative;
  left: 400px;
  padding: 10px;
  gap: 10px;
}

#moviecardplot {
  max-width: 280px;
  text-align: center;
  position: relative;
  left: 10px;
}

.moviedetail {
  position: relative;
  left: 10px;
  max-width: 280px;
}

#scoring {
  position: relative;
  right: 200px;
  top: -300px;
}
#correction {
  position: relative;
  max-width: 400px;
  right: -430px;
}
